body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.border {
  border: 0.01em solid;
  border-color : #ddd;
}

.right {
  border-right: 1px solid #ddd;
}

a.disabled {
  pointer-events: none;
}

.img-resize {
  max-height: 20px;
}

@media screen and (min-width: 991px) {
  .left {
    border-left: 1px solid #ddd;
  }
}